.mainframe {
  background-color: black;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: url(PacmanVectors/stars.gif);
  background-size: cover;
}


/*****************************************************************************/
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 20px;

  width: 100%;
  height: 160px;

  background-size: length;
  font-family: 'Orbitron', sans-serif;
}

#header .playerStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 50%;
  width: 12vw;
  border: none;
  margin: 2vw;

  background: url(PacmanVectors/dot.svg);
}

#header .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 100px;
  color: #FFEE00;
  font-size: 60px;
  background: url(PacmanVectors/dot.svg);
  border: none;
}


#header .playerIcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 40px;
  animation: grow 2s infinite;

  color: #FFEE00;
  font-family: 'Orbitron', sans-serif;
  background: url(PacmanVectors/dot.svg);
}


#header .playerOneScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  color: #FFEE00;
  font-family: 'Orbitron', sans-serif;
}

#header .playerTwoScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  color: #FFEE00;
  font-family: 'Orbitron', sans-serif;
}

#header .playerThreeScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  color: #FFEE00;
  font-family: 'Orbitron', sans-serif;
}
#header .playerFourScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  color: #FFEE00;
  font-family: 'Orbitron', sans-serif;
}

#leftAside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 500px;
  width: 20vw;

  font-family: 'Orbitron', sans-serif;
}

#leftAside button {
  height: 80px;
  width: 80px;
  border: 1px solid darkblue;
  background: url(PacmanVectors/dot.svg);
  border-radius: 100%;
  margin: 2vw;
  color: #FFEE00;
}

#leftAside .clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 30px;
  color: #FFEE00;

  height: 160px;
  width: 160px;
  border: 1px solid darkblue;
  border-radius: 100%;
  margin: 2vw;
  background-color: inherit;
}

#container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 500px;
  height: 500px;
}

#rightAside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 500px;
  width: 20vw;

  font-family: 'Orbitron', sans-serif;
}


.empty {
  background: url(PacmanVectors/dot.svg);
  background-size: contain;
}

.playerOne {
  background-color: #65c6be;
}

.playerOneCurrent {
  background: url(PacmanVectors/GreenGhost.svg);
  background-size: contain;
  animation: avatarPulse 2s infinite;
}

.playerTwo {
  background-color: #f57700;
}

.playerTwoCurrent {
  background: url(PacmanVectors/OrangeGhost.svg);
  background-size: contain;
}

.playerThree {
 background-color: #f7b7d1;
}

.playerThreeCurrent {
  background: url(PacmanVectors/PinkGhost.svg);
  background-size: contain;
}

.playerFour {
  background-color: #ef1b14;
}

.playerFourCurrent {
  background: url(PacmanVectors/RedGhost.svg);
  background-size: contain;
}

.crate {
  background: url(PacmanVectors/Cherry.svg);
  background-size: contain;
}

.secondCrate {
  background: url(PacmanVectors/Cherry.svg);
  background-size: contain;
}

.speedyBoots {
  background-color: red;
}

div {
  height: 9%;
  width: 9%;
  border: 2px solid darkblue;
  background: url(PacmanVectors/dot.svg);
  border-radius: 15%;
}

@keyframes grow {
  0% {
    height: 40px;
    width: 40px;
  }
  50% {
    height: 60px;
    width: 60px;
  }
  100% {
    height: 40px;
    width: 40px;
  }
}

@keyframes avatarPulse {
  0% {
    height: 9%;
    width: 9%;
  }
  50% {
    height: 11%;
    width: 11%;
  }
  100% {
    height: 9%;
    width: 9%;
  }
}
