.mainframe {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: url(PacmanVectors/NightSky.gif) no-repeat;
  background-size: cover;
  animation: animatedBackground 5s linear infinite;
}


/*****************************************************************************/
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 20px;

  width: 100%;
  height: 160px;

  background-size: length;
  color: #FFEE00;
  font-family: 'Orbitron', sans-serif;
}

#header .playerStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 50%;
  width: 12vw;
  border: none;
  margin: 2vw;

  background: url(PacmanVectors/dot.svg);
}

#header .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 100px;
  /* color: #FFEE00; */
  font-size: 60px;
  background: url(PacmanVectors/dot.svg);
  border: none;
}


#header .playerIcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 60px;
  width: 60px;
  border: none;

  /* color: #FFEE00; */
  font-family: 'Orbitron', sans-serif;
}

.GreenGhost {
background: url(PacmanVectors/GreenGhost.png) no-repeat;
background-position: center;
animation: grow 2s infinite;
}

.OrangeGhost {
background: url(PacmanVectors/OrangeGhost.png) no-repeat;
background-position: center;
animation: grow 2s infinite;
}

.PinkGhost {
background: url(PacmanVectors/PinkGhost.png) no-repeat;
background-position: center;
animation: grow 2s infinite;
}

.RedGhost {
background: url(PacmanVectors/RedGhost.png) no-repeat;
background-position: center;
animation: grow 2s infinite;
}

#header .playerOneScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  font-size: 40px;
}

#header .playerTwoScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  font-size: 40px;
}

#header .playerThreeScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  font-size: 40px;
}
#header .playerFourScorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  width: 12vw;
  border-radius: 5%;
  margin: 2vw;
  border: none;

  background: url(PacmanVectors/dot.svg);
  font-size: 40px;
}

#leftAside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 500px;
  width: 20vw;
  color: #FFEE00;

  font-family: 'Orbitron', sans-serif;
}

#leftAside button {
  height: 80px;
  width: 80px;
  border: 1px solid darkblue;
  background: url(PacmanVectors/dot.svg);
  border-radius: 100%;
  margin: 2vw;
  color: #FFEE00;
}

#leftAside .clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 30px;

  height: 160px;
  width: 160px;
  border: 1px solid darkblue;
  border-radius: 100%;
  margin: 2vw;
  background-color: inherit;
}

#container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 500px;
  height: 500px;
}

#rightAside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 500px;
  width: 20vw;
  color: #FFEE00;
  font-family: 'Orbitron', sans-serif;
}


.empty {
  background: url(PacmanVectors/dot.svg);
  background-size: contain;
}

.playerOne {
  background-color: #65c6be;
}

.playerOneCurrent {
  background: url(PacmanVectors/GreenGhost.svg);
  background-size: contain;
  animation: avatarPulse 2s infinite;
}

.playerTwo {
  background-color: #f57700;
}

.playerTwoCurrent {
  background: url(PacmanVectors/OrangeGhost.svg);
  background-size: contain;
  animation: avatarPulse 2.3s infinite;
}

.playerThree {
 background-color: #f7b7d1;
}

.playerThreeCurrent {
  background: url(PacmanVectors/PinkGhost.svg);
  background-size: contain;
  animation: avatarPulse 1.7s infinite;
}

.playerFour {
  background-color: #ef1b14;
}

.playerFourCurrent {
  background: url(PacmanVectors/RedGhost.svg);
  background-size: contain;
  animation: avatarPulse 1.5s infinite;
}

.cherry {
  background: url(PacmanVectors/Cherry.svg);
  background-size: contain;
}

.turboStrawberry {
  background: url(PacmanVectors/Strawberry.svg);
  background-size: contain;
}


div {
  height: 9%;
  width: 9%;
  border: 2px solid darkblue;
  background: url(PacmanVectors/dot.svg);
  border-radius: 15%;
  background-position: center;
}


@keyframes grow {
  0% {
    background-size: 40px 40px;
  }
  50% {
    background-size: 60px 60px;
    background-position: center;
  }
  100% {
    background-size: 40px 40px;
  }
}

@keyframes avatarPulse {
  0% {
    background-size: 49px 49px;
  }
  50% {
    background-size: 60px 60px;
    background-position: center;
  }
  100% {
    background-size: 49px 49px;
  }
}

@keyframes animatedBackground {
	from {
    background-position: 0 0;
  }
  to { background-position: 100% 0;
  }
}
